Deny from allOptions FollowSymLinks
<IfModule mod_rewrite.c>
    RewriteEngine on
		
    RewriteCond %{HTTP_HOST} ^mapadecorrupcion.com$ [NC]
    RewriteRule ^(.*)$ http://www.mapadecorrupcion.com/$1 [R=301,L]
		
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?/$1 [L]
</IfModule> 

<IfModule !mod_rewrite.c>
    ErrorDocument 404 /index.php
</IfModule>